<form method="POST" action="/new">
  <input type="text" name="messageUser" placeholder="name" />
  <input type="text" name="messageText" placeholder="message" />
  <button type="submit">Submit</button>
</form>
